.imageOffre {
    width: 40%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
  }

.containerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
      flex-wrap: wrap;
      width: 50%;
}
