footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(57, 161, 247);
  height: 4%;
  margin-top: 2%;
  color: white;
  font-size: 1rem;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  width: 90%;
}
